## .NET / C# / WPF
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstats
*.userprefs

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

## Build results
[Dd]ebugPublic/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
